{% extends 'layout/base.html' %}

{% block title %}Trang Quản trị{% endblock %}
{% block content %} 
{% include 'layout/admin_header.html' %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" id="flash-message">
        <h4>{{ message }}</h4>
      </div>
    {% endfor %}
{% endwith %}
<h2 class="container">Thêm Danh Mục</h2>
<form  method="post">
    <div class="container" style="width: 50%;">
    <div class="form-group">
        <label for="id_danhmuc">Id Danh Mục</label>
        <input type="text" class="form-control" name="id_danhmuc" id="id_danhmuc">
    </div>
    <div class="form-group">
        <label for="name">Tên Danh Mục</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <input type="submit" value="Tạo" class="btn btn-danger">
    </div>
</div>
</div>
</form>


{% endblock %}