{% extends 'layout/base.html' %}

{% block title %}Quản Lý Sản Phẩm{% endblock %}
{% block content %} 
{% include 'layout/admin_header.html' %}

<h2 class="container">Quản Lý Sản Phẩm</h2>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
  <div class="alert alert-{{ category }}" id="flash-message">
    <h4>{{ message }}</h4>
  </div>
{% endfor %}
{% endwith %}

<form class="form-inline ">
  <input name="id_sanpham" type="number" placeholder="Nhập id" class="form-control mr-sm-2 ">
  <input name="tuKhoa" type="text" placeholder="Nhập từ khóa" class="form-control mr-sm-2 ">
  <input name="masanpham" type="number" placeholder="Nhập mã danh mục" class="form-control mr-sm-2 ">
  <button class="btn btn-info" type="submit">Tìm</button>
</form>

<br>
<a href="{{ url_for('themSanPham') }}" class="btn btn-success">Thêm +</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tên Sản Phẩm</th>
        <th scope="col">Mô Tả</th>
        <th scope="col">Giá</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Danh Mục</th>
        <th scope="col">Ngày Tạo</th>
        <th scope="col">Ngày Cập Nhập</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {%for c in products %}
      <tr>
        <td>{{c.id_sanpham}}</td>
        <td>{{c.name}}</td>
        <td>{{c.mota}}</td>
        <td>{{ "{:,.0f}".format(c.gia) }}</td>
        <td><img src="{{ url_for('static', filename='images/' + c.anh) }}" width="50px" height="50px" alt=""></td>
        <td>{{c.id_danhmuc}}</td>
        <td>{{c.ngaytao}}</td>
        <td>{{c.ngaycapnhat}}</td>
        <td><a href="{{url_for('capNhatSanPham',id_sanpham=c.id_sanpham)}}" class="btn btn-primary"><i class="bi bi-pencil"></i></a></td>
        <td><a href="#" onclick="delete_SanPham('{{c.id_sanpham}}')" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  

<script>
  function delete_SanPham(id_sanpham) {
      if (confirm("Bạn có chắc muốn xóa sản phẩm này?")) {
          window.location.href = "{{ url_for('xoaSanPham') }}?id_sanpham=" + id_sanpham;
      }
  }
</script>
{% endblock %}
