{% extends 'layout/base.html' %}

{% block title %}Đăng Ký{% endblock %}

{% block content %} 

{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" id="flash-message">
        <h4>{{ message }}</h4>
      </div>
    {% endfor %}
  {% endwith %}

<h3 class="container">Đăng Ký <i class="bi bi-person-plus-fill"></i></h3>

    <form action="{{ url_for('dangky_user') }}" method="post">
      <div class="container" style="width: 50%;">
        <div class="form-group">
            <label for="name">Họ và Tên</label>
            <input type="text" class="form-control" name="name" id="name" required>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Số Điện Thoại</label>
            <input type="text" class="form-control" name="phone" id="phone" required>
        </div>
        <div class="form-group">
            <label for="diachi" class="form-label">Địa Chỉ</label>
            <input type="text" class="form-control" name="diachi" id="diachi" required>
        </div>
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Mật Khẩu</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="form-group">
            <label for="confirm" class="form-label">Xác Nhận Mật Khẩu</label>
            <input type="password" class="form-control" name="confirm" id="confirm" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Đăng Ký</button>
        </div>
      </div>
    </form>
{% endblock %}

