{% extends 'layout/base.html' %}

{% block title %}Trang Quản trị{% endblock %}
{% block content %} 
{% include 'layout/admin_header.html' %}
<h2 class="container"> Cập Nhật Sản Phẩm</h2>
<form  method="post">
    <div class="container" style="width: 50%;">
    <div class="form-group">
        <label for="id_sanpham">Id Sản Phẩm</label>
        <input type="text" class="form-control" name="id_sanpham" id="id_sanpham" value="{{ sp.id_sanpham }}" readonly>

    </div>
    <div class="form-group">
        <label for="name">Tên Sản Phẩm</label>
        <input type="text" class="form-control" name="name" id="name" value="{{sp.name}}">
    </div>
    <div class="form-group">
      <label for="mota">Mô Tả</label>
      <input type="text" class="form-control" name="mota" id="mota" value="{{sp.mota}}">
  </div>
    <div class="form-group">
        <label for="gia">Giá</label>
        <input type="text" class="form-control" name="gia" id="gia" value="{{sp.gia}}">
    </div>
    
    <div class="form-group">
        <label for="anh">Ảnh</label>
        <input type="text" class="form-control" name="anh" id="anh" value="{{sp.anh}}" >
    </div>
    
    <div class="form-group">
        <label for="id_danhmuc"> Danh Mục</label>
        <select class="form-control" name="id_danhmuc" id="id_danhmuc" value="{{sp.id_danhmuc}}">
            {% for category in danh_muc_list %}
                <option value="{{ category.id_danhmuc}}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Cập Nhật" class="btn btn-danger">
    </div>
</div>
</form>
{% endblock %}